<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="./StyleSheet.css" type="text/css" />
    <link href="c:\users\codew\.nuget\packages\bootstrap\5.2.3\contentfiles\any\any\wwwroot\css\bootstrap.min.css" rel="stylesheet" />
    <link href="c:\users\codew\.nuget\packages\bootstrap\5.2.3\contentfiles\any\any\wwwroot\css\bootstrap.rtl.css" rel="stylesheet" />
    <link href="c:\users\codew\.nuget\packages\bootstrap\5.2.3\contentfiles\any\any\wwwroot\css\bootstrap.css" rel="stylesheet" />
    <link href="c:\users\codew\.nuget\packages\bootstrap\5.2.3\contentfiles\any\any\wwwroot\css\bootstrap.rtl.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
